.product-card{
    padding: 20px 0px;
    .card-image-box{
        height: 300px;
        width: 100%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .card-data{
        padding: 5px 10px;
        .product-name{
            font-size: 18px;
            font-weight: 500;
            color: #3e4152;
        }
    }
}