.product-card{
    padding: 20px 0px;
    .card-image-box{
        height: 300px;
        width: 100%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .card-data{
        padding: 5px 10px;
        color: #3e4152;
        .product-name{
            font-size: 18px;
            font-weight: 500;
            margin: 0px;
        }
        .product-desc{
            font-weight: 300;
            font-size: 16px;
            margin: 0px;
        }
        .product-price{
            .price{
                font-size: 14px;
                font-weight: 500;
            }
            .old-price{
                text-decoration: line-through;
                margin-left: 20px;
                font-weight: 200;
            }
        }
    }
}