*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  behavior: smooth;
}

.big-heading{
  color: #3e4152;
  font-size: 30px;
  font-weight: 500;
}

.center-all{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-20{
  gap: 20px;
}

.between-all{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li{
  list-style-type: none;
}

li:hover{
  text-decoration: none;
}

.link-tag{
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #3e4152;
}

.cm-padding{
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}


